body{
    margin: 0px;
}


.back{

    background-color: #393F49;
    width: 100%;
    height: 1000px;
    position: fixed;

}
.inner{
    background-color: #00A876;
    width: 70%;
    height: 600px;
    margin-left: 271px;  
    margin-top: 74px;
    position: fixed; 
    border-radius: 20px;
}
.topbar{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 31px;
    border-top-left-radius:20px;
    border-top-right-radius:20px;
}
.dot-red{
    background-color: rgb(255, 0, 0);
    height: 15px;
    width: 15px;
    display:inline-block;
    border-radius: 10px;

}
.dot-yellow{

    background-color: rgba(255, 251, 0, 0.842);
    height: 15px;
    width: 15px;
    display:inline-block;
    border-radius: 10px;
}
.dot-green{
    background-color: green;
    height: 15px;
    width: 15px;
    display:inline-block;
    border-radius: 10px;
}

.butn{
    position: relative;
    top: 8px;
    left: 10px;


}
.left{
    background-color:#151A22;
    height: 95%;
    width: 60%;
    position: absolute;top: 5%;
    border-bottom-left-radius:20px ;
    
   
}
#wel{
    color: rgb(255, 250, 250);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 187px;
    left: 52px;
}
#par{
    color: rgb(255, 250, 250);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 171px;
    left: 57px;

}
#para2{
    color: rgb(255, 250, 250);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 222px;
    left: 50px;

}
.btn1{
    height: 40px;
    width: 204px;
    background-color:#00A876;
    border: 0px;
    border-radius: 2px;
    position: relative;
    top: 226px;
    left: 52px;
    color: rgb(255, 255, 255);
    font-size: large;

}
.lang{
    position: relative;
    top: 277px;
    left: 56px;
    background-color:#151A22;
    border: 0px;
    color:white;
}
.lang2{
    color: rgb(255, 255, 255);
    position: relative;
    display: inline-block;
    top: 259px;
    left: 195px;
    margin-left: 30px;
}
.help{

    display: inline-block;
    margin-left: 20px;
}
.log{
    color: blanchedalmond;
    position: relative;
    top: 44px;
    left: 822px;
    font-size: x-large;

}
.form1{
    position:relative;
    top: 59px;
    left: 825px;
    color: white;
    font-size: larger;
    border: none;
    background: transparent;
    border-bottom:2px solid black ;
}
.form2{
    position:relative;
    top: 93px;
    left: 829px;
    color: white;
    font-size: larger;
    border: none;
    background: transparent;
    border-bottom:2px solid black ;

}
.btn3{

    position: relative;
    width: 96px;
    height: 29px;
    top: 118px;
    left: 836px;
    color: rgb(13, 129, 129);
    border: 0px;
}
#pass1{
    color: rgb(255, 255, 255);
    position: relative;
    top: 83px;
    left: 943px;
    font-size: medium;
}
.right{
    position: relative;
    top: 121px;
    left: 69px;
}